<!-- Views/CreateFood.cshtml -->
@model Duanmau.Web.API.Models.Ingredient

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Ingredient</title>
    <!-- Liên kết tệp CSS -->
    <style>
        /* CreateFoodStyles.css */
        /* Style cho các nhãn label */
        label {
            display: block;
            margin-bottom: 5px;
            font-weight: bold;
            color: #333; /* Màu chữ */
        }

        /* Style cho input và select */
        input[type="text"],
        textarea,
        select {
            width: 100%;
            padding: 8px;
            margin-bottom: 10px;
            border-radius: 5px;
            border: 1px solid #ccc;
        }

        /* Style cho các nút */
        button[type="submit"] {
            padding: 10px 20px;
            background-color: #4caf50; /* Màu nền */
            color: #fff; /* Màu chữ */
            border: none;
            border-radius: 5px;
            cursor: pointer;
            margin-top: 10px;
        }

            button[type="submit"]:hover {
                background-color: #45a049; /* Màu nền khi di chuột qua */
            }

    </style>
    @* <link rel="stylesheet" href="~/css/CreateFoodStyles.css"> *@
</head>
<body>
    <h2>Create Ingredient</h2>
    <!-- Form tạo sản phẩm -->
    <form asp-controller="Admin_ingredient" asp-action="IngredientSave" method="post">
        <div>
            <label for="IngredientName">Tên nguyen lieu:</label>
            <input type="text" id="IngredientName" name="IngredientName">
        </div>
        
        
        <button type="submit" style="background-color: green; color: white;">Lưu sản phẩm</button>
    </form>

    <form asp-controller="Admin_ingredient" asp-action="IngredientAll">
        <button type="submit">Back</button>
    </form>
</body>
</html>
