@* @model AdminOrdersViewModel *@

<h3>Xin Chào</h3>

@* @await Html.PartialAsync("_OrderTable", new OrderTableViewModel
{
    TableTitle = "Unshipped Orders",
    Orders = Model.UnshippedOrders,
    ButtonLabel = "Ship"
})

@await Html.PartialAsync("_OrderTable", new OrderTableViewModel
{
    TableTitle = "Shipped Orders",
    Orders = Model.ShippedOrders,
    ButtonLabel = "Reset"
}) *@

@* <button class="btn btn-info" asp-action="UpdateData">
    Refresh Data
</button> *@
